<div class="container">
  <h1>出席管理アプリ</h1>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-btn" %>

  <%= render partial: "attendances/attendance_search_form" %>

  <div class="search-section">
    <h2>累計一覧</h2>
    <%= form_with url: admin_users_path, method: :get do |f| %>
      <div class="combobox-wrapper" data-controller="combobox" data-action="click@window->combobox#hide">
        <%= f.number_field :enrollment_year, placeholder: "年度入学生", autocomplete: "off", class: "input-field input-enrollment", data: { combobox_target: "input", action: "focus->combobox#show" } %>
        <div class="combobox-dropdown" data-combobox-target="dropdown">
          <% (2000..Time.current.year).to_a.reverse.each do |y| %>
            <div class="combobox-option" data-combobox-target="option" data-action="click->combobox#select" data-value="<%= y %>"><%= y %>年度</div>
          <% end %>
        </div>
      </div>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>

  <%= turbo_frame_tag "search_result" do %>
    <!-- 検索結果がここに表示されます -->
  <% end %>
</div>
